.navbar2 {
  z-index: 1000;
  height: 70px;
  width: 100%;
  margin-top: 20px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.navbar2__logo {
  height: 100%;
  display: block;
}

.navbar2 img {
  height: 100%;
  object-fit: contain;
}

.navbar2 .ui.button {
  background-color: var(--netflix-red);
  color: #fff;
  font-size: 16px;
}

.navbar2 .ui.button:focus,
.navbar2 .ui.button:hover,
.navbar2 .ui.button:active {
  color: #fff;
  background-color: var(--netflix-red);
}
