:root {
  --netflix-red: #e10813;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
}

.app {
  position: relative;
  width: 100vw;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
