.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8) 100%),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/838a77eb-572a-4eb5-8e3a-364069b24d29/74108bce-ed59-4596-a5f6-a182f24fe062/FR-fr-20200907-popsignuptwoweeks-perspective_alpha_website_large.jpg')
      no-repeat center center/cover;
}

.landing__content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing__content h1 {
  font-size: 4vw;
}

.landing__form {
  margin-bottom: 30px;
}

.landing__content h4 {
  font-size: 2vw;
  font-weight: 400;
}

.landing__input {
  width: 100%;
  display: flex;
}

.landing__input .ui.input {
  width: 50%;
}

.landing__input .ui.input input {
  border-radius: 2px 0 0 2px;
}

.landing__input .ui.button {
  width: 50%;
  border-radius: 0 2px 2px 0;
  background-color: var(--netflix-red);
  color: #fff;
  font-size: 1.6vw;
  text-transform: uppercase;
  font-weight: 300;
}

.landing__input .ui.button:hover,
.landing__input .ui.button:active,
.landing__input .ui.button:focus {
  background-color: var(--netflix-red);
  color: #fff;
}

.landing__errors {
  text-align: left;
  color: orangered;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .landing__content {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 760px) {
  .landing {
    height: 100vh;
    width: 100%;
  }

  .landing__content {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
  }

  .landing__content h1 {
    font-size: 16px;
  }

  .landing__form {
    margin-bottom: 30px;
  }

  .landing__content h4 {
    font-size: 16px;
    font-weight: 400;
  }

  .landing__content p {
    font-size: 10px;
    font-weight: 300;
  }

  .landing__input {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .landing__input .ui.input {
    width: 100%;
    margin-bottom: 20px;
  }

  .landing__input .ui.input input {
    border-radius: 2px;
  }

  .landing__input .ui.button {
    width: 80%;
    border-radius: 2px;
    background-color: var(--netflix-red);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
  }
}
